body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}